/*Style on post pages*/
.postbox .cherry-sidebar-select{
	border-top: none;
	padding: 0px;
	position: relative;
}
.cherry-ui-container{
	margin: 10px 0 20px 0;
}
label.cherry-label{
	margin: 0;
	display: block;
}
select.cherry-ui-select{
	width: 100%;
	height: 42px;
	border: 1px solid #dddcdc;
	border-radius: 6px;
	margin: 0;
	padding: 6px;
	background-color: #fff;
	transition: border-color 0.05s ease-in-out 0s;
	outline: 0 none;
	color: #333;
	&:focus{
		border-color: none;
		box-shadow: none;
	}
}